/* page body */
body { background: #f7f7f7; color: #000; }

/* main navigation bar */
#mainnav li {
 background-color: #eeb4b4;
}

/* code blocks */
pre.wiki,pre.literal-block {
 background: #eeb4b4; border:1px dotted #111;
}

/* images */
#header img {
 border: 1px dotted #111;
}
#content.wiki img {
 margin: 0.5em; border:1px dotted #111;
}

