/* page body */
body { background: #eef; color: #003; }

/* main navigation bar */
#mainnav li {
 background-color: #eeeed1;
}

/* code blocks */
pre.wiki,pre.literal-block {
 background-color: #eeeed1; border:1px dotted #00b;
}

/* images */
#header img {
 border: 1px dotted #00b;
}
#content.wiki img {
 margin: 0.5em; border:1px dotted #00b;
}

/* links and misc */
:link, :visited, dt em, .milestone .info h2 em,
#content.build h2.config :link, #content.build h2.config :visited,
.plugin h3 a {
 color: #00b;
}
blockquote.citation { border-color: #44b; }
.citation blockquote.citation { border-color: #b44; }
.citation .citation blockquote.citation { border-color: #4b4; }
.citation .citation .citation blockquote.citation { border-color: #44b; }

